<ion-content padding>

    <div>
        <img src="../../assets/imgs/logo.png" />
    </div>

 
    <form #form="ngForm" (ngSubmit)="onSubmit()">

        <input type="text" placeholder="E-mail" name="username" [(ngModel)]="username">
        
        <input type="password" placeholder="Password" name="password" [(ngModel)]="password">
            
        <button type="submit">Sign In</button>

    </form>

</ion-content>
