page-login {
    input {
        display: block;
        width: 100%;
        border: 1px solid #eaeaea;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 15px 0;
        transition: 0.6s;
        transition-timing-function: ease;
    }

    input:focus, input:active {
        border: 1px solid #6270e4;
    }

    ::placeholder {
        color: #afaeae
    }

    button {
        display: block;
        width: 100%;
        padding: 15px 20px;
        border-radius: 5px;
        background-color: #6270e4; 
        color: #ffffff;
    }

    
}
