<sidebar></sidebar>
<ion-tabs>
    <ion-tab [root]="tab1" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2" tabTitle="Subjects" tabIcon="book"></ion-tab>
    <ion-tab [root]="tab3" tabTitle="Calendar" tabIcon="calendar"></ion-tab>
    <ion-tab [root]="tab4" tabTitle="Circular" tabIcon="filing"></ion-tab>
</ion-tabs>