<ion-content padding>
    <header></header>
    <div (click)="openClassModal()">
        <div>
            {{ day }}
            {{ month }}
            {{ year }}
        </div>
        <div *ngIf="isClassTeacher">
            Take attendance
        </div>
    </div>

    <div>
        <p>Recent circulars</p>
        <div *ngIf="circular.length !== 0; else nocircular;">
            <ion-list>
                <ion-item *ngFor="let item of circular" no-padding>
                    <p>{{ getDate(item['date']) }}</p>
                    <strong>{{ item['target'] }}</strong>
                </ion-item>
            </ion-list>
        </div>
        <ng-template #nocircular>
            No recent circulars
        </ng-template>
        <p (click)="navCtrl.parent.select(3)">More circulars</p>
    </div>

    <div>
        <p>Recent calendar</p>
        <div *ngIf="calendar.length !== 0; else nocalendar;">
            <ion-list>
                <ion-item *ngFor="let item of calendar" no-padding>
                    <p>{{ getDate(item["start"]) + " - " + getDate(item["end"]) }}</p>
                    <strong>{{ item["name"] }}</strong>
                    <p>{{ item["description"] }}</p>
                </ion-item>
            </ion-list>

        </div>
        <ng-template #nocalendar>
            No recent calendar
        </ng-template>
        <p (click)="navCtrl.parent.select(2)">More calendar</p>
    </div>
</ion-content>