<ion-header>
    <ion-navbar>
        <ion-title>notification</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div>
        <div *ngIf="notifications.length !== 0; else nodata;">
            <ion-list>
                <ion-item (click)="openNotification(item)" *ngFor="let item of notifications" no-padding>
                    <p>{{ item["date"] }}</p>
                    <strong>{{ item["title"] }}</strong>
                </ion-item>
            </ion-list>
        </div>
        <ng-template #nodata>
            No notifications found
        </ng-template>
    </div>

</ion-content>
