<ion-header>
    <ion-navbar>
        <ion-title>attendanceModal</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div>
        Today's attendance: {{ present }}
    </div>

    <div *ngIf="attended.length !==0; else nodata">
        <p *ngFor="let item of attended; let i = index;" class="onoff m-1">
            <input type="checkbox" [id]="item['id']" [checked]="attended[i].checked" [name]="item['id']"
                   (change)="attended[i].checked = !attended[i].checked">
            <label [for]="item['id']">{{item['id']}}</label>
        </p>
    </div>
    <ng-template #nodata>
        No data available
    </ng-template>
    <button (click)="updateAttendance()" ion-button block>Save</button>
</ion-content>
