page-attendance-modal {
  .onoff {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
  }

  .onoff label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #f5365c;
    border-radius: 5px;
    font-weight: bold;
    color: #FFF;
    line-height: 50px;
    vertical-align: middle;
  }

  .onoff label:after {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 14px;
    color: #591717;
    z-index: 1;
  }

  .onoff input:checked + label {
    background: #2dce89;
  }

  .onoff input:checked + label:after {
    color: #091707;
  }

  label.error {
    color: #f5365c;
    display: block;
    width: 100%;
  }

  .m-1 {
    margin: 10px;
  }
}
