<ion-content padding>
    <header></header>
    <div>
        <p>Recent calendar</p>
        <div *ngIf="calendar.length !== 0; else nocalendar;">
            <ion-list>
                <ion-item *ngFor="let item of calendar" no-padding>
                    <p>{{ getDate(item["start"]) + " - " + getDate(item["end"]) }}</p>
                    <strong>{{ item["name"] }}</strong>
                    <p>{{ item["description"] }}</p>
                </ion-item>
            </ion-list>

        </div>
        <ng-template #nocalendar>
            No calendar
        </ng-template>
    </div>
</ion-content>
