<ion-content padding>
    <form #form="ngForm" (ngSubmit)="onSubmitNote(form)">
        <ion-item>
            <ion-label floating>Note title</ion-label>
            <ion-input name="note" [(ngModel)]="note" placeholder="Note title"></ion-input>
        </ion-item>
        <button (click)="uploadFile()" type="button" ion-button block>Select file</button>
        <p *ngIf="filename !== ''">Filename: {{ filename }}</p>
        <button ion-button block color="secondary" type="submit">Upload</button>
    </form>
</ion-content>