<div>
    <div>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <img src="../../assets/imgs/logo.png" />
        <button (click)="openModal()">
            <ion-icon name="notifications"></ion-icon>
        </button>
    </div>
</div>