<ion-header>
    <ion-navbar>
        <ion-title>classModal</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="classes.length !== 0; else nodata;">
        <ion-list>
            <ion-item *ngFor="let item of classes" (click)="updateAttendance(item)">
                <strong>Class: {{ item["std"] + " " + item["division"] }}</strong>
            </ion-item>
        </ion-list>
    </div>
    <ng-template #nodata>
        Class teacher for no classes
    </ng-template>
</ion-content>
