<ion-content padding>
    <header></header>
    <div *ngIf="subjects.length !== 0; else nodata">
        <ion-list *ngFor="let item of subjects">
            <div (click)="openNotesModal(item)">
                <strong>{{ item["name"] }}</strong>
                <p>{{ item["std"] + " " + item["division"] }}</p>
            </div>
        </ion-list>
    </div>
    <ng-template #nodata>
        <p>No subjects teaches</p>
    </ng-template>
</ion-content>