<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item (click)="openPage(about)">
                About
            </button>
            <button ion-item (click)="openPage(privacy)">
                Privacy policy
            </button>
            <button ion-item (click)="openPage(terms)">
                Terms and Conditions
            </button>
            <button ion-item (click)="logout()">
                Logout
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #content></ion-nav>