<ion-content padding>
    <header></header>
    <div>
        <p>Circulars</p>
        <div *ngIf="circular.length !== 0; else nocircular;">
            <ion-list>
                <ion-item *ngFor="let item of circular" no-padding>
                    <p>{{ getDate(item['date']) }}</p>
                    <strong>{{ item['title'] }}</strong>
                </ion-item>
            </ion-list>
        </div>
        <ng-template #nocircular>
            No circulars
        </ng-template>
    </div>
</ion-content>
